$font-stack:        "Source Sans Pro", sans-serif;
$header-font-stack: brandon_grotesque_regularRg, "Source Sans Pro", sans-serif;

$primary-links:     #FFFFFF;
$secondary-links:   #00CC99;
$general-links:     #C8CED5;
$body-text:         #343436;
$icon-colors:       #BEC3CC;

$body-background:   #FFFFFF;
$header-background: #FFFFFF;
$overlay-background: #000000;

$container-width:   100%;

$status-text-color: #FFFFFF;

$item-background:   #FFFFFF;
$item-border-color: #dee1e5;
$item-header-color: #3f454d;
$item-text-color:   #70767f;
$item-link-color:   #bec3cc;

$footer-text-color: #777777;
$footer-text-hover-color: #555555;
