/***********
 * BREAKPOINT MIXINS
 *******************************************/
body {
  background-color: #fff;
  color: #343436;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  position: relative; }

/**********
 * Layout sizing
 **************************************/
.width-half {
  width: 50%;
  box-sizing: border-box; }

.one-sixth {
  width: 16.66667%; }

.two-sixth {
  width: 33.33333%; }

.four-sixth {
  width: 66.66667%; }

.five-sixth {
  width: 83.33333%; }

/**********
  * Positional Layout
  **************************************/
.pull-left {
  float: left; }

.pull-right {
  float: right; }

/**********
 * Content Container layout grid views
 **************************************/
#GridNavigation {
  position: absolute;
  right: -60px;
  top: 120px;
  width: 50px; }
  #GridNavigation a.grid-layout-trigger img {
    width: 50px;
    opacity: 0.5;
    margin-bottom: 20px; }
  #GridNavigation a.grid-layout-trigger.active img {
    opacity: 1; }

.column-1 #GridNavigation {
  right: -90px; }

.layout-grid {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px 0 80px 0; }

a img {
  border: none; }

@media (max-width: 992px) {
  #GridNavigation {
    width: 100%;
    box-sizing: border-box;
    right: 0;
    top: 10px;
    text-align: center; }
    #GridNavigation a.grid-layout-trigger {
      padding: 0 10px; }
      #GridNavigation a.grid-layout-trigger img {
        width: 25px; } }

@media (max-width: 600px) {
  #GridNavigation {
    display: none; } }

header {
  height: 60px;
  background-color: #FFFFFF;
  padding: 15px 10px 10px 10px;
  box-sizing: border-box;
  max-width: 100%;
  border-bottom: 1px solid #8d8d8f;
  position: fixed;
  width: 100%;
  z-index: 100; }
  header .logo-size {
    width: 110px;
    margin-top: 3px; }
  header form {
    margin-left: 40px;
    position: relative;
    /*******
     * BrowzzinSearch
     ******************************/ }
    header form #BrowzzinSearch {
      border: 1px solid #cdced0;
      border-radius: 4px;
      font-size: 14px;
      padding: 5px;
      background-color: #f8f8f8;
      width: 240px;
      text-align: center;
      color: #8d8e93; }
    header form button {
      position: absolute;
      top: 3px;
      left: calc(50% - 55px);
      width: 27px;
      height: 23px;
      background-image: url("../images/icon-search.png");
      background-position: center center;
      background-repeat: no-repeat;
      border: none;
      border: none;
      background-size: 20px;
      background-color: transparent; }

#TopNavigation {
  width: calc(100% - 462px);
  text-align: right;
  position: relative; }
  #TopNavigation .center-navigation {
    margin-right: 300px;
    margin-top: 3px; }
    #TopNavigation .center-navigation a {
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 13px;
      color: #777777;
      padding: 0 15px; }
      #TopNavigation .center-navigation a.icon-top-navigation img {
        vertical-align: text-bottom;
        height: 20px; }
        #TopNavigation .center-navigation a.icon-top-navigation img.notifications {
          margin-right: -10px; }
        #TopNavigation .center-navigation a.icon-top-navigation img.hearting {
          opacity: 0.6; }
  #TopNavigation #ProfileTrigger {
    position: absolute;
    top: 0;
    right: 0;
    color: #4b4f54;
    text-decoration: none;
    height: 45px;
    width: 130px;
    padding-right: 50px; }
    #TopNavigation #ProfileTrigger span {
      line-height: 30px;
      position: absolute;
      right: 80px;
      width: 100px;
      font-size: 13px;
      padding-right: 10px; }
    #TopNavigation #ProfileTrigger i {
      position: absolute;
      bottom: 21px;
      padding-left: 25px; }
    #TopNavigation #ProfileTrigger:hover {
      cursor: pointer; }
      #TopNavigation #ProfileTrigger:hover #ProfileMenu {
        display: block; }
    #TopNavigation #ProfileTrigger img {
      height: 30px; }
    #TopNavigation #ProfileTrigger #ProfileMenu {
      display: none;
      font-family: "Source Sans Pro", sans-serif;
      width: 200px;
      background-color: #FFFFFF;
      border: 1px solid #8d8d8f;
      position: absolute;
      right: 0;
      top: 44px;
      margin: 0;
      padding: 0;
      z-index: 1000000; }
      #TopNavigation #ProfileTrigger #ProfileMenu li {
        font-size: 12px;
        list-style: none;
        border-bottom: 1px solid #dee1e5;
        padding: 0 20px; }
        #TopNavigation #ProfileTrigger #ProfileMenu li a {
          text-decoration: none;
          line-height: 30px;
          padding: 0 0 0 10px; }
          #TopNavigation #ProfileTrigger #ProfileMenu li a:link {
            color: #70767f; }
          #TopNavigation #ProfileTrigger #ProfileMenu li a:visited {
            color: #70767f; }
          #TopNavigation #ProfileTrigger #ProfileMenu li a:hover {
            color: #343436; }
          #TopNavigation #ProfileTrigger #ProfileMenu li a:active {
            color: #343436; }
          #TopNavigation #ProfileTrigger #ProfileMenu li a.heart-icon-link {
            background-image: url("../images/icon-heart-inactive-light.png");
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 20px;
            padding-right: 30px; }
          #TopNavigation #ProfileTrigger #ProfileMenu li a.notification-icon-link {
            background-image: url("../images/icon-notification.png");
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 25px;
            padding-right: 35px; }
          #TopNavigation #ProfileTrigger #ProfileMenu li a.basket-icon-link {
            background-image: url("../images/icon-cart.png");
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 25px;
            padding-right: 35px; }
        #TopNavigation #ProfileTrigger #ProfileMenu li:last-of-type {
          border-bottom: none; }
      #TopNavigation #ProfileTrigger #ProfileMenu::before {
        font-family: "FontAwesome";
        content: "\f0d8";
        color: #8d8d8f;
        top: -12px;
        right: 15px;
        position: absolute; }

#LoadMoreContentButton {
  border-top: 1px solid #b3b4b6;
  background-color: #e6e7e9;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  padding-top: 60px; }
  #LoadMoreContentButton a {
    display: block;
    color: #343436;
    padding: 15px; }

/*** Target Webkit browsers ***/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #ProfileNavigation {
    bottom: 17px !important; }
    #ProfileNavigation.profile-navigation-override {
      bottom: 0 !important; } }

@media (max-width: 992px) {
  header form {
    margin-left: 135px; }
  header #TopNavigation {
    width: calc(100% - 550px); }
    header #TopNavigation .center-navigation {
      display: none; } }

@media (max-width: 600px) {
  #BrowzzinSearch {
    display: none; }
  header button {
    display: none; }
  #TopNavigation .center-navigation {
    display: none; }
  #TopNavigation #ProfileTrigger {
    right: 0;
    padding-right: 20px; }
    #TopNavigation #ProfileTrigger i {
      padding-left: 10px; }
    #TopNavigation #ProfileTrigger span {
      right: 50px; } }

footer {
  clear: both;
  border-top: 1px solid #dee1e5;
  padding: 20px 0;
  margin-top: 60px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  color: #777777;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100; }
  footer nav {
    width: 100%;
    max-width: 1024px;
    margin: auto; }
    footer nav a {
      color: #777777;
      text-decoration: none;
      padding: 0 30px;
      display: inline-block; }
      footer nav a:hover {
        text-decoration: underline;
        color: #555555; }
    footer nav span {
      font-size: 10px;
      width: 100px;
      display: block;
      float: right; }

@media (max-width: 992px) {
  footer nav a {
    padding: 5px 10px; } }

@media (max-width: 767px) {
  footer {
    width: 100%;
    position: inherit;
    margin-top: 0; }
    footer nav a {
      display: block;
      padding: 5px 0; }
    footer nav span {
      font-size: 10px;
      width: 100%;
      display: block;
      float: none;
      text-align: center;
      margin: 30px 0; } }

/*****
 * #AddStatusBox
 **************************/
.status-box textarea {
  border: none;
  background: transparent;
  width: 100%;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: lighter;
  padding: 35px 25px 5px 25px;
  letter-spacing: 1px;
  opacity: 0.7;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  height: 122px;
  overflow: auto; }
  .status-box textarea::-webkit-input-placeholder {
    color: #FFFFFF; }
  .status-box textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #FFFFFF; }
  .status-box textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #FFFFFF; }
  .status-box textarea:-ms-input-placeholder {
    color: #FFFFFF; }

.status-box button {
  background: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  margin-left: 20px; }

.layout-grid {
  z-index: 10; }
  .layout-grid:after {
    content: "";
    display: table;
    clear: both; }
  .layout-grid.column-4 .item-container {
    width: 21.8%; }
  .layout-grid.column-3 .item-container {
    width: 30%; }
  .layout-grid.column-2 .item-container {
    width: 47.0%; }
  .layout-grid.column-1 {
    box-sizing: border-box;
    max-width: 1024px; }
    .layout-grid.column-1 .item-container {
      width: 100%; }
  .layout-grid .item-container {
    float: left;
    margin: 20px 1.5% 0 1.5%; }

.item-container {
  background-color: #FFFFFF;
  margin-top: 20px;
  position: relative;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  cursor: pointer; }
  .item-container .product-image {
    width: 100%; }
  .item-container .item-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box; }
    .item-container .item-header a {
      color: black; }
      .item-container .item-header a span {
        padding-left: 40px;
        display: inline-block; }
      .item-container .item-header a img.profile-pic {
        height: 25px;
        position: absolute;
        left: 10px;
        top: 7px;
        border-radius: 50%; }
      .item-container .item-header a img.share {
        height: 15px;
        position: absolute;
        right: 10px;
        top: 11px; }
  .item-container .item-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    line-height: 40px;
    padding: 0 10px;
    box-sizing: border-box; }
    .item-container .item-footer img.save-button {
      margin-top: 7px;
      height: 30px; }
    .item-container .item-footer span {
      float: right;
      line-height: 30px; }
      .item-container .item-footer span a {
        color: #393939;
        text-decoration: none; }
        .item-container .item-footer span a span.heart-count {
          line-height: 45px;
          padding-right: 10px; }
        .item-container .item-footer span a img.heart-button {
          float: right;
          margin-top: 7px;
          height: 30px;
          opacity: 0.8; }

@media (max-width: 600px) {
  .layout-grid:after {
    content: "";
    display: table;
    clear: both; }
  .layout-grid.column-4 .item-container {
    width: calc(100% - 13px); }
  .layout-grid.column-3 .item-container {
    width: calc(100% - 13px); }
  .layout-grid.column-2 .item-container {
    width: calc(100% - 13px); }
  .layout-grid.column-1 .item-container {
    width: calc(100% - 13px); } }

#PopOver {
  display: none;
  background-color: #FFFFFF;
  z-index: 1500;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%; }
  #PopOver #MobilePopupNav {
    display: none; }
  #PopOver #LeftPane {
    position: relative;
    background-color: #fafafc;
    width: calc(100% - 500px);
    min-width: 320px;
    float: left;
    height: 100%;
    text-align: center;
    display: table-cell; }
    #PopOver #LeftPane .responsive-feature-image {
      display: flex;
      width: 100%;
      vertical-align: middle;
      height: 100%; }
    #PopOver #LeftPane a.back-button {
      display: block;
      width: 80px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url("../images/popup-product/icon-previous.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 120%;
      z-index: 100; }
    #PopOver #LeftPane a.forward-button {
      display: block;
      width: 80px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url("../images/popup-product/icon-next.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 120%;
      z-index: 100; }
    #PopOver #LeftPane img.product-feature {
      vertical-align: middle;
      width: 80%;
      max-width: 533px;
      margin: auto;
      vertical-align: middle; }
    #PopOver #LeftPane #LeftPaneController {
      background-color: #FFFFFF;
      width: 100%;
      height: 50px;
      margin-top: -5px;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0; }
      #PopOver #LeftPane #LeftPaneController a {
        margin: 0 50px;
        text-decoration: none; }
        #PopOver #LeftPane #LeftPaneController a img {
          zoom: 70%;
          vertical-align: middle; }
          #PopOver #LeftPane #LeftPaneController a img.left-share-button {
            opacity: 0.7; }
          #PopOver #LeftPane #LeftPaneController a img.left-save-button {
            margin-top: 7px; }
  #PopOver #RightPane {
    width: 500px;
    float: left;
    position: relative;
    height: 100%;
    background: #e7e7e9; }
    #PopOver #RightPane .tab-trigger {
      display: block;
      background-color: #dcdddf;
      width: 50px;
      height: 50px;
      text-align: center;
      padding: 5px 0;
      box-sizing: border-box; }
      #PopOver #RightPane .tab-trigger.active {
        background-color: #FFFFFF;
        border-top: 1px solid #8b8c90;
        border-bottom: 1px solid #8b8c90;
        border-left: 5px solid #f0522d; }
      #PopOver #RightPane .tab-trigger img {
        height: 40px; }
    #PopOver #RightPane .popup-tabs {
      position: absolute;
      top: 0;
      left: 50px;
      background-color: #FFFFFF;
      height: 100%;
      width: calc(100% - 110px);
      padding-left: 60px;
      overflow-y: scroll; }
      #PopOver #RightPane .popup-tabs.products-tab {
        display: none;
        padding-left: 30px;
        width: calc(100% - 80px); }
    #PopOver #RightPane .profile-header {
      border-bottom: 1px solid #dcdddf;
      height: 80px;
      position: relative; }
      #PopOver #RightPane .profile-header .tab-profile-image {
        width: 50px;
        border-radius: 50%;
        margin-top: 15px; }
      #PopOver #RightPane .profile-header .user-name {
        display: block;
        position: absolute;
        top: 20px;
        left: 60px;
        font-weight: bold; }
      #PopOver #RightPane .profile-header .followers {
        display: block;
        position: absolute;
        top: 40px;
        left: 60px;
        font-size: 90%; }
      #PopOver #RightPane .profile-header .tab-follow-button {
        width: 100px;
        position: absolute;
        top: 20px;
        right: 80px; }
      #PopOver #RightPane .profile-header .close-popover {
        width: 50px;
        height: 80px;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #fafafc;
        text-align: center;
        border-left: 1px solid #dcdddf;
        padding: 28px 0;
        box-sizing: border-box; }
        #PopOver #RightPane .profile-header .close-popover img {
          width: 20px; }
    #PopOver #RightPane .comments-container .likes-count {
      display: block;
      font-weight: bold;
      margin: 20px 0 0 0; }
    #PopOver #RightPane .comments-container a.see-more-comments {
      color: #8b8c90;
      text-decoration: none;
      display: block;
      margin: 20px 0; }
    #PopOver #RightPane .comments-container .posted-comment {
      margin-top: 10px; }
      #PopOver #RightPane .comments-container .posted-comment a {
        font-weight: bold;
        text-decoration: none;
        color: #000; }
        #PopOver #RightPane .comments-container .posted-comment a.hashtag {
          color: #034e82;
          font-weight: normal; }
    #PopOver #RightPane .comments-container form {
      border-top: 1px solid #dcdddf;
      margin: 20px 60px 0 0;
      position: relative;
      height: 140px; }
      #PopOver #RightPane .comments-container form textarea {
        width: 260px;
        max-width: 270px;
        height: 40px;
        padding: 17px 10px 17px 0;
        border: none;
        font-size: 16px;
        font-weight: 200; }
        #PopOver #RightPane .comments-container form textarea::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: #8b8c90;
          font-size: 20px; }
        #PopOver #RightPane .comments-container form textarea::-moz-placeholder {
          /* Firefox 19+ */
          color: #8b8c90;
          font-size: 20px; }
        #PopOver #RightPane .comments-container form textarea:-ms-input-placeholder {
          /* IE 10+ */
          color: #8b8c90;
          font-size: 20px; }
        #PopOver #RightPane .comments-container form textarea:-moz-placeholder {
          /* Firefox 18- */
          color: #8b8c90;
          font-size: 20px; }
      #PopOver #RightPane .comments-container form input.comment-submit {
        background-color: #fff;
        border: none;
        font-weight: bold;
        font-size: 20px;
        position: absolute;
        height: 60px;
        top: 0;
        right: 0;
        cursor: pointer; }
    #PopOver #RightPane .product-holder {
      padding: 30px 0;
      margin-right: 30px;
      border-bottom: 1px solid #dcdddf; }
      #PopOver #RightPane .product-holder:after {
        content: "";
        display: table;
        clear: both; }
      #PopOver #RightPane .product-holder img {
        width: 160px;
        float: left;
        cursor: pointer; }
      #PopOver #RightPane .product-holder .product-content {
        position: relative;
        width: calc(100% - 190px);
        float: left;
        padding: 0 0 0 30px;
        color: #8c8d91; }
        #PopOver #RightPane .product-holder .product-content h3 {
          margin: 0; }
          #PopOver #RightPane .product-holder .product-content h3 a {
            color: #8c8d91;
            text-decoration: none;
            font-family: brandon_grotesque_regularRg, "Source Sans Pro", sans-serif; }
            #PopOver #RightPane .product-holder .product-content h3 a:hover {
              color: #333; }
        #PopOver #RightPane .product-holder .product-content .product-spacer {
          display: block;
          margin: 6px 0;
          font-family: brandon_grotesque_regularRg, "Source Sans Pro", sans-serif; }
          #PopOver #RightPane .product-holder .product-content .product-spacer span {
            display: inline-block;
            width: 80px;
            font-size: 14px; }
        #PopOver #RightPane .product-holder .product-content .product-add-to-cart {
          margin-top: 18px;
          width: 130px; }
        #PopOver #RightPane .product-holder .product-content .product-heart {
          width: 34px;
          height: 34px;
          display: block;
          position: absolute;
          bottom: 2px;
          right: 0;
          background-size: 100%; }
          #PopOver #RightPane .product-holder .product-content .product-heart.inactive {
            background-image: url("../images/icon-heart-inactive.png");
            background-position: 0 0;
            background-repeat: no-repeat; }
          #PopOver #RightPane .product-holder .product-content .product-heart.active {
            background-image: url("../images/icon-heart-active.png");
            background-position: 0 0;
            background-repeat: no-repeat; }

@media (max-width: 600px) {
  #PopOver {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh; }
    #PopOver #MobilePopupNav {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: 30000;
      background: #e7e7e9;
      width: 100%; }
      #PopOver #MobilePopupNav a {
        text-decoration: none;
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center; }
        #PopOver #MobilePopupNav a.tab-trigger img {
          zoom: 30%;
          margin-top: 30px; }
        #PopOver #MobilePopupNav a.tab-trigger.active {
          background-color: #FFFFFF;
          border-right: 1px solid #8b8c90;
          border-left: 1px solid #8b8c90;
          border-bottom: 5px solid #f0522d; }
        #PopOver #MobilePopupNav a.close-popover {
          width: 50px;
          height: 55px;
          position: absolute;
          right: 0;
          top: 0;
          background-color: #fafafc;
          text-align: center;
          border-left: 1px solid #dcdddf;
          border-bottom: 1px solid #dcdddf;
          padding: 19px 0;
          box-sizing: border-box; }
          #PopOver #MobilePopupNav a.close-popover img {
            width: 20px; }
    #PopOver #LeftPane {
      height: 100%;
      width: 100%; }
      #PopOver #LeftPane #LeftPaneController a {
        margin: 0 30px; }
    #PopOver #RightPane {
      display: none;
      position: absolute;
      top: 0;
      left: 0; }
      #PopOver #RightPane .tab-trigger {
        display: none; }
      #PopOver #RightPane .popup-tabs {
        top: 50px;
        left: 0;
        padding-left: 20px;
        width: calc(100vw - 20px);
        margin-bottom: 80px; }
        #PopOver #RightPane .popup-tabs .close-popover {
          display: none; }
      #PopOver #RightPane .product-holder img {
        width: 110px; }
      #PopOver #RightPane .product-holder .product-content .product-heart {
        left: -70px; } }

#AddToCartOverlay {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1600;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%; }

#AddToCart {
  font-family: brandon_grotesque_regularRg, "Source Sans Pro", sans-serif;
  display: none;
  background-color: #FFFFFF;
  width: 800px;
  margin: 100px auto;
  position: relative;
  max-height: 610px; }
  #AddToCart .close-add-to-cart {
    background-color: #FFFFFF;
    height: 50px;
    width: 50px;
    position: absolute;
    right: -51px;
    top: 0;
    text-align: center; }
    #AddToCart .close-add-to-cart img {
      width: 25px;
      margin-top: 13px; }
  #AddToCart #AddToCartContent {
    box-sizing: border-box;
    padding: 50px;
    overflow-y: scroll;
    max-height: 610px; }
    #AddToCart #AddToCartContent #AddToCartContentTop:after {
      content: "";
      display: table;
      clear: both; }
    #AddToCart #AddToCartContent .product-feature-image {
      width: 250px;
      float: left; }
    #AddToCart #AddToCartContent .product-content {
      position: relative;
      width: calc(100% - 300px);
      float: left;
      padding: 0 0 0 30px;
      color: #8c8d91; }
      #AddToCart #AddToCartContent .product-content h3 {
        margin: 0; }
        #AddToCart #AddToCartContent .product-content h3 a {
          color: #8c8d91;
          text-decoration: none; }
          #AddToCart #AddToCartContent .product-content h3 a:hover {
            color: #333; }
      #AddToCart #AddToCartContent .product-content .product-spacer {
        display: block;
        margin: 6px 0; }
        #AddToCart #AddToCartContent .product-content .product-spacer span {
          display: inline-block;
          width: 80px;
          font-size: 14px; }
        #AddToCart #AddToCartContent .product-content .product-spacer.product-size {
          display: inline-block; }
        #AddToCart #AddToCartContent .product-content .product-spacer.product-quantity {
          display: inline-block; }
      #AddToCart #AddToCartContent .product-content .product-add-to-cart {
        display: block;
        margin-top: 134px;
        width: 200px; }
      #AddToCart #AddToCartContent .product-content .product-heart {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        bottom: 10px;
        right: 50px;
        background-size: 100%; }
        #AddToCart #AddToCartContent .product-content .product-heart.inactive {
          background-image: url("../images/icon-heart-inactive.png");
          background-position: 0 0;
          background-repeat: no-repeat; }
        #AddToCart #AddToCartContent .product-content .product-heart.active {
          background-image: url("../images/icon-heart-active.png");
          background-position: 0 0;
          background-repeat: no-repeat; }
    #AddToCart #AddToCartContent h4 {
      margin: 20px 0 0 0; }
    #AddToCart #AddToCartContent p {
      color: #8c8d91;
      margin-top: 5px; }

@media (max-width: 600px) {
  #AddToCart {
    width: 100vw; }
    #AddToCart .close-add-to-cart {
      z-index: 50000;
      right: 0;
      top: -100px; }
    #AddToCart #AddToCartContent {
      background-color: #FFFFFF;
      z-index: 4000;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      max-height: 100vh; }
      #AddToCart #AddToCartContent .product-feature-image {
        width: 100%;
        float: none; }
      #AddToCart #AddToCartContent .product-content {
        width: 100%;
        float: none;
        padding-left: 0;
        margin-top: 20px; }
        #AddToCart #AddToCartContent .product-content .product-add-to-cart {
          margin-top: 14px; }
        #AddToCart #AddToCartContent .product-content .product-heart {
          right: -30px; } }

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("./fonts/brandon_reg-webfont.woff2") format("woff2"), url("./fonts/brandon_reg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@media (max-width: 992px) {
  .layout-grid.column-1 #GridNavigation {
    width: calc(100% - 25px) !important;
    left: 14px; }
  .layout-grid.column-1 .item-container {
    width: calc(100% - 25px); }
  .layout-grid .item-container {
    float: left;
    margin: 20px 1.5% 0 1.5%;
    padding-bottom: 0; } }
